<% content_for :head do %>
  <meta http-equiv="refresh" content="30">
<% end %>

<header class='discourse' data-embed-state='login'>
  <h3><%= link_to('Please log in to join the discussion', login_url, target: '_blank') %></h3>
  <%= link_to(image_tag(SiteSetting.site_logo_url, class: 'logo'), Discourse.base_url) %>
  <div class='clearfix'></div>
</header>
